---
layout: overview
id: overview
nav: true
nav-order: 1
title: Competition

banner:
  content: >
    <div class="container text--center">
      <div class="banner__title banner__title-overview"></div>
    </div>

intro: >
  <div class="h h--md h--display text--bold text--upper">Win one of six irresistible staycations!</div>
  <p class="p--xxl">For the chance of winning an escape from the day-to-day, be it the wild outdoors or the city lights, enter below.</p>
  <p class="p--xxl">What’s more, you’ll also receive a pair of luxurious Hunter welly boots for your getaway, so no matter the weather, you can explore in style...</p>



prizes:

  - id: england-coast
    location: North Cornwall, England
    title: Stay at Watergate Bay Hotel in North Cornwall
    description: Head for the elements with this unparalleled coastal hideaway...
    hunter: Hunter Original Tall Wellington Boots

  - id: england-country
    location: Winchester, England
    title: Stay at Lainston House in Winchester
    description: Head for the country and relish in the evocative charms of this classic country pile...
    hunter: Hunter Balmoral Adjustable Wellington Boots

  - id: england-city
    location: Bath, England
    title: Stay at boutique Bath hotel, The Bird
    description: Boutique dreams await at this effortlessly-chic city pad in the heart of regal Bath...
    hunter: Hunter Original Chelsea Boots

  - id: scotland
    location: Scottish Highlands
    title: Stay at Glencoe House in the Scottish Highlands
    description: Nestled in a deep, forested valley, this stately Scottish escape makes for perfect isolation...
    hunter: Hunter Balmoral Full Zip

  - id: wales
    location: Wales
    title: Stay at the Coed-Y Mwstwr Hotel
    description: Between coast and country, delight at the grandeur of this gorgeous Welsh getaway...
    hunter: Hunter Original Sherpa Boots

  - id: northern-ireland
    location: Belfast, Northern Ireland
    title: Stay at The Merchant in Belfast
    description: A boutique - and frankly, breathtaking - Belfast stay in the heart of Northern Ireland’s most enthralling city...
    hunter: Hunter Original Play Short Wellington Boots





competition-form:
  id: comp
  post-url: "https://getform.io/f/13e1721a-2ed1-4cad-915c-1a162bc5867c"
  expiry-date: 2020-11-30
  fields:

    - id: prize
      type: radio
      hidden: true
      required: true
      options:
        - id: prize-england-coast
          value: cornwall-england
        - id: prize-england-country
          value: winchester-england
        - id: prize-england-city
          value: bath-england
        - id: prize-scotland
          value: scotland
        - id: prize-wales
          value: wales
        - id: prize-northern-ireland
          value: northern-ireland

    - id: type-of-holiday
      type: images
      label: What type of break are you looking for?
      required: true
      options:
        - id: type-coast
          label: 'The refreshing coast'
          value: 'coast'
        - id: type-country
          label: 'The remote countryside '
          value: 'country'
        - id: type-city
          label: 'A buzzing town or city'
          value: 'city'

    - id: holiday-where
      type: images
      label: Where would you prefer to go?
      required: true
      options:
        - id: where-scotland
          value: scotland
          label: Scotland
        - id: where-northern-ireland
          value: northern-ireland
          label: Northern Ireland
        - id: where-england
          value: england
          label: England
        - id: where-wales
          value: wales
          label: Wales
        - id: where-dont-mind
          value: dont-mind
          label: Don't mind

    - id: holiday-reason
      type: radio
      label: Is that because…
      required: true
      options:
        - id: dont-want-to-travel-far
          label: 'Don’t want to travel far from home'
          value: 'dont-want-to-travel-far'
        - id: see-new-place
          label: 'Keen to see a new place or faraway place'
          value: 'see-a-new-place'
        - id: na
          label: 'N/A'
          value: 'na'

    - id: incredible-hotel
      type: radio
      label: >
        Would a particularly incredible hotel change your previous preferences?<br />
        i.e. would you consider a city break over a coastal break if the hotel was exceptional?
      required: true
      options:
        - id: yes
          label: 'Yes'
          value: 'yes'
        - id: no
          label: 'No'
          value: 'no'

    - id: name
      type: text
      label: Name
      required: true

    - id: email
      type: email
      label: Email
      required: true

    - id: opt-in-partner
      type: checkbox
      label:
      options:
        - id: opt-in-partner-true
          label: 'Please tick here if you would like to receive emails from Visit Britain'
          value: 'yes'

    - id: opt-in-secret-escapes
      type: checkbox
      label:
      options:
        - id: opt-in-secret-escapes-true
          label: 'Please tick here if you want to be kept up to date with the best deals from Secret Escapes'
          value: 'yes'

  submit: Submit Entry
  terms: >
    By submitting your entry, you agree to the <a href="#" class="js-open-modal link--underlined" data-open-modal="competition-terms">terms and conditions</a> of this competition and that you have read our <a target="_blank" href="www.secretescapes.com/privacy-policy"></a>privacy policy</a>.



competition-form-masks:
  prizes:
    - id: england-coast
      title: North Cornwall, England
    - id: england-country
      title: Winchester, England
    - id: england-city
      title: Bath, England
    - id: scotland
      title: Scottish Highlands
    - id: wales
      title: Wales
    - id: northern-ireland
      title: Belfast, Northern Ireland



---

<div class="container">

  <div class="text--center width width--xl">
    {{page.intro}}
  </div>

  <div class="space--xxl"></div>
  {% for prize in page.prizes %}
  <div class="bob{% cycle '', ' bob--swap' %}">
    <div class="bob__img">
      <div class="row row--no-gutters">
        <div class="col col--constant-5">
          <div class="prize__image prize__image-1 img img--2-3" style="background-image: url('{{site.img}}/pages/{{page.id}}/{{prize.id}}/1.jpg');"></div>
        </div>
        <div class="col col--constant-7">
          <div class="prize__image prize__image-2 img img--4-3" style="background-image: url('{{site.img}}/pages/{{page.id}}/{{prize.id}}/2.jpg');"></div>
        </div>
      </div>
      <div class="prize__image prize__image-3 img img--21-9" style="background-image: url('{{site.img}}/pages/{{page.id}}/{{prize.id}}/3.jpg');"></div>
    </div>

    <div class="bob__text">
      <div class="text--smallcaps p--xl">Prize option {{forloop.index}}</div>
      <div class="space--xs"></div>
      <div class="h h--xs text--bold">{{prize.title}}</div>
      <p class="p--lg">{{prize.description}}</p>
      <div class="space--sm"></div>
      <div class="hunter">
        <div class="row row--valign-center row--no-gutters">
          <div class="col col--4">
            <div class="hunter__image img img--1-1" style="background-image: url({{site.img}}/pages/{{page.id}}/{{prize.id}}/hunter.jpg);"></div>
          </div>
          <div class="col col--8">
            <div class="boxpad--sm">
              <div class="hunter__logo"></div>
              <p class="p--lg">Including 2 pairs of <span class="text--bold">{{prize.hunter}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="space--md"></div>
      <a href="#entry-form" class="btn js-form-fill" data-target-id="comp-prize-{{prize.id}}">I want this prize</a>
    </div>
  </div>
  {% endfor %}







  <div id="entry-form" class="text--center vpad--xxxl">
    <div class="h h--xs text--bold">Choose your escape!</div>
    <div class="space--lg"></div>

    <div class="row row--gutters-sm">
      {% for prize in page.prizes %}
      <div class="col col--2">
        <div id="mask-comp-prize-{{prize.id}}" data-form-group="prize" class="form-mask img img--3-4 img--hover rounded--md depth--md" style="background-image: url({{site.img}}/pages/overview/{{prize.id}}/2.jpg);">
          <a href="javascript:void(0);" class="img__link js-form-fill" data-target-id="comp-prize-{{prize.id}}"></a>
          <div class="img__content">
            <div class="boxpad--sm">
              <div class="h h--xxs">{{prize.location}}</div>
            </div>
          </div>
          <div class="img__overlay"></div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="space--lg"></div>
    <hr class="hr--center">
    <p class="p--xl">To help us provide the escapes you want, we'd love to hear a little about your travel plans and preferences at the moment</p>

    {% assign form = page.competition-form %}
    <form class="form boilerform competition-form" action="{{form.post-url}}" method="POST" data-expires="{{form.expiry-date}}" novalidate>
      {% include form/messages.html %}
      <div class="form__content width width--xxl">
        {% for item in form.fields %}
          <div class="form__input js-form-input{% if item.hidden %} hidden{% endif %}" id="form__input__{{item.id}}">
            {% case item.type %}
              {% when 'text' %}
                {% include form/text.html data=item %}
              {% when 'images' %}
                {% include form/images.html data=item %}
              {% when 'text-long' %}
                {% include form/text-long.html data=item %}
              {% when 'email' %}
                {% include form/email.html data=item %}
              {% when 'radio' %}
                {% include form/radio.html data=item %}
              {% when 'checkbox' %}
                {% include form/checkbox.html data=item %}
              {% when 'select' %}
                {% include form/select.html data=item %}
            {% endcase %}
          </div>
        {% endfor %}
        <div class="space--sm"></div>
        <p class="text--sm text--normal">{{form.terms}}</p>
        <div class="space--sm"></div>
        <button type="submit" class="btn js-form-btn" disabled>{{form.submit}}</button>
      </div>
    </form>

  </div>



</div>

