// all banner types on site

.h {
  // custom content headline
  font-family: $title;
  font-weight: 500;
  line-height: 1.2;
  &--xxxl   { font-size: $s8; }
  &--xxl    { font-size: $s7; }
  &--xl     { font-size: $s6; }
  &--lg     { font-size: $s5; }
  &--md     { font-size: $s4; }
  &--sm     { font-size: $s3; }
  &--xs     { font-size: $s2; }
  &--xxs    { font-size: $s1; }
  &--xxxs   { font-size: $s0; }
  @include bp($lg){
    &--xxxl   { font-size: $s9; }
    &--xxl    { font-size: $s8; }
    &--xl     { font-size: $s7; }
    &--lg     { font-size: $s6; }
    &--md     { font-size: $s5; }
    &--sm     { font-size: $s4; }
    &--xs     { font-size: $s3; }
    &--xxs    { font-size: $s2; }
    &--xxxs   { font-size: $s1; }
  }
  // brand override
  &--core,
  &--serif { font-family: $serif; }
  &--display {
    font-family: $display;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }
}

.h--sub {
  // custom content headline
  font-family: $title;
  font-weight: 600;
  line-height: 1.4;
  font-size: $s2; // default size
  &--lg     { font-size: $s4; }
  &--sm     { font-size: $s0; }
  @include bp($lg){
    font-size: $s3; // default size
    &--lg     { font-size: $s5; }
    &--sm     { font-size: $s1; }
  }
}

.h--banner {
  // custom banner headline
  font-family: $display;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  font-size: $s5;
  @include bp($md){ font-size: $s8; }
  @include bp($xl){ font-size: $s11; }
}