---
layout: default
---

{% include nav/header.html %}
{% include nav/site.html %}



<div class="vpad--xxl">

  <div class="container container--xxl text--center">
    <div class="h h--xxl">{{page.title}}</div>
    <div class="space--sm"></div>
    <p class="p--xxl">{{page.intro}}</p>

    <div class="vpad--xl">
      <hr class="hr--center">
    </div>

    <div class="text--center question" id="question-1">
      <div class="p--xxl text--smallcaps">Step 1</div>
      <div class="h h--sm">What type of holiday do you want most right now?</div>
      <div class="space--lg"></div>
      <div class="row">
        {% for option in page.questions.types %}
        <div class="col col--4">
          <div class="img img--1-1" style="background-image: url({{site.img}}/img.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-1"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--xxs">{{option.type}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center question" id="question-2" style="display: none;">
      <div class="p--xxl text--smallcaps">Step 2</div>
      <div class="h h--sm">Who do you want to escape with?</div>
      <div class="space--lg"></div>
      <div class="row">
        {% for who in page.questions.who %}
        <div class="col col--3">
          <div class="img img--1-1" style="background-image: url({{site.img}}/img.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-2"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--xxs">{{who.who}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center question" id="question-3" style="display: none;">
      <div class="p--xxl text--smallcaps">Step 3</div>
      <div class="h h--sm">Decisions, decisions... Where would you rather go?</div>
      <div class="space--lg"></div>
      <div class="row">
        {% for location in page.questions.locations %}
        <div class="col col--6">
          <div class="img img--16-9" style="background-image: url({{site.img}}/img.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-3"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--xxs">{{location.country}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center question" id="question-4" style="display: none;">

      <div class="p--xl text--smallcaps">Your result:</div>
      <div class="h h--md">Cornwall</div>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      <div class="space--sm"></div>
      <a href="#entry-form" class="btn">Complete your entry</a>
      <div class="space--lg"></div>

      <div class="row">

        <div class="col col--6">
          <div class="offer depth--sm depth--sm-hover rounded--sm">
            <div class="img img--16-9" style="background-image: url(https://secretescapes-web.imgix.net/hotels/242/c0bc5c54_f351_4371_bb32_d0cdab3de4f8.jpg);"></div>
            <div class="boxpad--md">
              <div class="offer__location">Carbis Bay Hotel & Estate, Cornwall</div>
              <h3 class="offer__title">Luxurious St Ives beach escape with stunning sea views - Fully refundable</h3>
              <div class="space--xxs"></div>
              <div class="offer__description">Offering breezy coastal style and a relaxing atmosphere, Carbis Bay Beach is a fully fledged member of the Most Beautiful Bays in the World Organisation. Around two miles from the picturesque town of St Ives, it's also home to Carbis Bay Hotel & Estate, sitting pretty by a Blue Flag beach for almost 120 years</div>
            </div>
          </div>
        </div>

        <div class="col col--6">

          <div class="rounded--md depth--sm bg--white">
            <div class="img img--21-9" style="background-image: url({{site.img}}/img.jpg);"></div>
            <div class="boxpad--md">
              <div class="h h--xxs">Secret tip</div>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet.</p>
            </div>
          </div>
          <div class="space--sm"></div>

          <div class="rounded--md depth--sm bg--white">
            <div class="img img--21-9" style="background-image: url({{site.img}}/img.jpg);"></div>
            <div class="boxpad--md">
              <div class="h h--xxs">Secret tip</div>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet.</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>

<div class="vpad--xl" id="complete-entry" style="display: none;">
  <div class="container">
    <div class="h h--lg text--center">Now complete your entry</div>
    <div class="space--lg"></div>
    <div id="entry-form" class="vpad--md">
      {% assign form = page.competition-form %}
      <form class="form boilerform competition-form" action="{{form.post-url}}" method="POST" data-expires="{{form.expiry-date}}" novalidate>
        {% include form/messages.html %}
        <div class="form__content width width--md">
          {% for item in form.fields %}
            <div class="form__input js-form-input">
              {% case item.type %}
                {% when 'text' %}
                  {% include form/text.html data=item %}
                {% when 'text-long' %}
                  {% include form/text-long.html data=item %}
                {% when 'email' %}
                  {% include form/email.html data=item %}
                {% when 'radio' %}
                  {% include form/radio.html data=item %}
                {% when 'checkbox' %}
                  {% include form/checkbox.html data=item %}
                {% when 'select' %}
                  {% include form/select.html data=item %}
              {% endcase %}
            </div>
          {% endfor %}
          <div class="space--sm"></div>
          <p class="text--sm text--normal">{{form.terms}}</p>
          <div class="space--sm"></div>
          <button type="submit" class="btn" disabled>{{form.submit}}</button>
        </div>
      </form>
    </div>
  </div>
</div>




{% include nav/footer.html %}