---
layout: default
---

{% include nav/header.html %}
{% include page/competition-banner.html %}



<div class="bg--grey-darkest theme--dark">

  <div class="container text--center">

    <div class="question is-current" id="question-1">
      <div class="p--xxl text--smallcaps">Question 1</div>
      <div class="h h--sm">{{page.holiday-types.question}}</div>
      <div class="space--xl"></div>
      <div class="row">
        {% for option in page.holiday-types.options %}
        <div class="col col--4">
          <div class="img img--4-3 img--hover rounded--md depth--md" style="background-image: url({{site.img}}/pages/competition/types/{{option.id}}.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-1" data-answer="{{option.id}}" data-category="{{option.category}}"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--md h--display">{{option.name}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="question" id="question-2" style="display: none;">
      <div class="p--xxl text--smallcaps">Question 2</div>
      <div class="h h--sm">{{page.who.question}}</div>
      <div class="space--lg"></div>
      <div class="row">
        {% for option in page.who.options %}
        <div class="col col--3">
          <div class="img img--1-1 img--hover rounded--md depth--md" style="background-image: url({{site.img}}/pages/competition/who/{{option.id}}.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-2" data-answer="{{option.id}}"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--md h--display">{{option.name}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="question" id="question-3" style="display: none;">
      <div class="p--xxl text--smallcaps">Question 3</div>
      <div class="h h--sm">{{page.locations.question}}</div>
      <div class="space--lg"></div>
      <div class="row">
        {% for option in page.locations.options %}
        <div class="col col--6" id="question-location-{{option.id}}">
          <div class="img img--16-9 img--hover rounded--md depth--md" style="background-image: url({{site.img}}/pages/competition/locations/{{option.id}}.jpg);">
            <a href="javascript:void(0);" class="img__link js-question-3" data-answer="{{option.id}}"></a>
            <div class="img__content">
              <div class="boxpad__sm">
                <div class="h h--md h--display">{{option.name}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    {% for result in page.results %}
    <div id="result-{{result.id}}" style="display: none;">

      <div class="width width--xl ">
        <div class="p--xl text--smallcaps">Your result:</div>
        <div class="h h--xxl h--display">{{result.title}}</div>
        <p class="p--xxl">Here’s your top recommendation with a few unique ideas thrown in. Don't forget to enter below to be in with a chance of winning this break!</p>
        <div class="space--sm"></div>
        <a href="#complete-entry" class="btn">Complete your entry</a>
        <div class="space--xxl"></div>
      </div>

      <div class="depth--sm bg--white rounded--sm theme--light text--left row row--valign-center row--no-gutters">
        <div class="col col--6">
          <div class="img img--4-3" style="background-image: url({{site.img}}/pages/competition/prizes/{{result.id}}/hotel.jpg);"></div>
        </div>
        <div class="col col--6">
          <div class="boxpad--md">
            <div class="location text--smallcaps p--xl">{{result.hotel.location}}</div>
            <div class="space--xs"></div>
            <h3 class="h h--sm text--bold">{{result.hotel.name}}</h3>
            <div class="space--xxs"></div>
            <p>{{result.hotel.description}}</p>
          </div>
        </div>
      </div>
      <div class="space--lg"></div>

      <div class="row">
        {% for tip in result.tips %}
        <div class="col col--6">
          <div class="rounded--md depth--sm bg--white theme--light">
            <div class="img img--21-9" style="background-image: url({{site.img}}/pages/competition/prizes/{{result.id}}/{{tip.id}}.jpg);"></div>
            <div class="boxpad--md">
              <div class="h h--xxs text--bold">{{tip.name}}</div>
              <p>{{tip.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}


    <!-- Form -->
    <div class="vpad--xxl" id="complete-entry" style="display: none;">
      <div class="h h--sm text--center">Now complete your entry to be in to win your perfect escape</div>
      <div class="space--lg"></div>
      <div id="entry-form">
        {% assign form = page.competition-form %}
        <form class="form boilerform competition-form" action="{{form.post-url}}" method="POST" data-expires="{{form.expiry-date}}" novalidate>
          {% include form/messages.html %}
          <div class="form__content width width--lg">
            {% for item in form.fields %}
              <div class="form__input js-form-input">
                {% case item.type %}
                  {% when 'text' %}
                    {% include form/text.html data=item %}
                  {% when 'text-long' %}
                    {% include form/text-long.html data=item %}
                  {% when 'email' %}
                    {% include form/email.html data=item %}
                  {% when 'radio' %}
                    {% include form/radio.html data=item %}
                  {% when 'checkbox' %}
                    {% include form/checkbox.html data=item %}
                  {% when 'select' %}
                    {% include form/select.html data=item %}
                {% endcase %}
              </div>
            {% endfor %}
            <div class="space--sm"></div>
            <p class="text--sm text--normal">{{form.terms}}</p>
            <div class="space--sm"></div>
            <button type="submit" class="btn" disabled>{{form.submit}}</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="space--xxxl"></div>

</div>


{% include nav/footer.html %}